@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yatra+One&display=swap');

/* for everything*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* for body */
body{
    background-color: rgb(160, 122, 122);
}

/* for header */
header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    background-color: rgb(174, 139, 139);
    /* backdrop-filter: blur(8px); */
    color: white;
    z-index: 1000;
    width: 100%;
}

/* logo */
.logo{
    padding: 2rem 3rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    text-wrap: nowrap;
    transition: .3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}

.links{
    position: relative;
    display: flex;
    gap: 4rem;
}
.links a{
    text-decoration: none;
    color: white;
    position: relative;
}
.links a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: .3s ease-in-out;
    background: linear-gradient(to right, rgb(210, 188, 188), rgb(223, 187, 130));
}
.links a:hover::before{
    width: 100%;
}


/* for menu-icon */
header #menu-icon{
    
    /* display: none; */
}

/* for github button in header */
.visit-btn{
    margin: auto 6rem;
    padding: .5rem 2rem;
    border-radius: 15px;
    border: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    text-wrap: nowrap;
    transition: .3s ease-in-out;
    background: linear-gradient(to right, rgb(187, 67, 67), rgb(82, 148, 233));
}
.visit-btn:hover{
    transform: scale(1.1);
    background: linear-gradient(to right, rgb(82, 148, 233), rgb(187, 67, 67));
}

/* 223, 187, 130 */
/* 210, 188, 188 */

/* for every section */
section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}





/* for about section */
.about-container{
    display: flex;
    align-items: center;
    gap: 8rem;
}

.about-container .profile-picture{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
}
.btn-group button{
    color: darkred;
    background-color: rgb(255, 255, 255);
    padding: .5rem 1rem;
    margin: .5rem;
    border: 2px solid darkred;
    border-radius: 8px;
    transition: .2s ease-in-out;
    font-size: 1rem;
    font-weight: 500;
}
.btn-group button:hover{
    transform: scale(1.1);
    color: white;
    border: 2px solid white;
    background-color: rgb(146, 48, 48);
}
.socials i{
}




/* for projects section */
.projects{
    gap: 3rem;
}



/* for education section */
.education{
    gap: 3rem;
    display: flex;
    flex-direction: column;
}
.ed-qual{
    display: flex;
    gap: .3rem;
    text-align: center;
    align-items: center;
    background-color: rgb(114, 68, 68);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    border-radius: 100px;
    padding: 2rem;
    width: 50%;
    text-wrap: wrap;
}
.ed-qual span{
    font-style: italic;
    justify-content: end;
}


/* for contacts section */
.contacts.contact-svg{
    width: 1rem;
}