<section id="contacts" class="contacts">
  <div class="contact-svg socials">
    <a href="mailto:arjunsemwal02@gmail.com"
      ><i class="fa-solid fa-envelope icons email-icon"></i
    ></a>
    <a href="https://github.com/ArjunSemwal02" target="_blank"
      ><i class="fa-brands fa-github icons"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/arjun-semwal-851633201/"
      target="_blank"
      ><i class="fa-brands fa-linkedin icons"></i
    ></a>
  </div>
  <div class="my-email">
    <p>arjunsemwal02&#64;gmail.com</p>
  </div>
  <div class="footer">
    <p>Made with <i class="fa-solid fa-heart heart"></i> by Arjun Semwal</p>
  </div>
</section>
