<section id="about" class="about">
  <div class="about-container">
    <img
      src="assets/pictures/IMG_20241113_172013~.jpg"
      alt="profile-picture"
      class="profile-picture"
    />
    <div class="info-box">
      <div>
        <h3>Hi, I'm</h3>
        <h1>Arjun Semwal</h1>
        <span class="niche">Software Developer</span>
      </div>

      <div class="btn-group">
        <a href="./assets/pdf(s)/ResumeAj.pdf" target="_blank"
          ><button>Resume</button></a
        >
        <a
          href="https://www.linkedin.com/in/arjun-semwal-851633201/"
          target="_blank"
          ><button onclick="">Linkedin</button></a
        >
      </div>
      <div class="socials">
        <a href="https://github.com/ArjunSemwal02" target="_blank"
          ><i class="fa-brands fa-github icons"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/arjun-semwal-851633201/"
          target="_blank"
          ><i class="fa-brands fa-linkedin icons"></i
        ></a>
      </div>
    </div>
  </div>
</section>
