<section id="about" class="about">
  <div class="about-container">
    <img
      [src]="myDetails.myImgUrl"
      alt="profile-picture"
      class="profile-picture"
    />
    <div class="info-box">
      <div>
        <h3>Hi, I'm</h3>
        <h1>{{ myDetails.myName }}</h1>
        <span class="niche">{{ myDetails.myProfile }}</span>
      </div>

      <div class="btn-group">
        <a [href]="socials$.resume" target="_blank"><button>Resume</button></a>
        <a [href]="socials$.linkedin" target="_blank"
          ><button onclick="">Linkedin</button></a
        >
      </div>
      <div class="socials">
        <a [href]="socials$.github" target="_blank"
          ><i class="fa-brands fa-github icons"></i
        ></a>
        <a [href]="socials$.linkedin" target="_blank"
          ><i class="fa-brands fa-linkedin icons"></i
        ></a>
      </div>
    </div>
  </div>
</section>
