.edu-sect-img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}
.edu-sect-img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
