.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1001;
}
.sidebar-wrapper.open {
  transform: translateX(0%);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.overlay.show {
  opacity: 1;
  pointer-events: all;
  backdrop-filter: blur(4px);
}
