<div class="sidebar">
  <div class="cross-icon-container">
    <i
      class="fa-solid fa-x"
      id="cross-icon"
      (click)="this.sidebarService.closeSidebar()"
    ></i>
  </div>
  <ul class="sidebar-links">
    <!-- <li
      routerLink="/about"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </li>
    <li routerLink="/experience" routerLinkActive="active">Experience</li>
    <li routerLink="/projects" routerLinkActive="active">Projects</li>
    <li routerLink="/education" routerLinkActive="active">Education</li>
    <li routerLink="/contacts" routerLinkActive="active">Contacts</li> -->

    <li (click)="setActive('about')" [class.active]="activeItem === 'about'">
      <a href="#about">About</a>
    </li>
    <li
      (click)="setActive('experience')"
      [class.active]="activeItem === 'experience'"
    >
      <a href="#experience">Experience</a>
    </li>
    <li
      (click)="setActive('projects-sect')"
      [class.active]="activeItem === 'projects-sect'"
    >
      <a href="#projects-sect">Projects</a>
    </li>
    <li
      (click)="setActive('education')"
      [class.active]="activeItem === 'education'"
    >
      <a href="#education">Education</a>
    </li>
    <li
      (click)="setActive('contacts')"
      [class.active]="activeItem === 'contacts'"
    >
      <a href="#contacts">Contacts</a>
    </li>
  </ul>
</div>
