@media(max-width: 1280px){
    section{
        height: 100vh;
    }
    header{
        gap: 1rem;
    }
    .links{
        gap: 2rem;
    }
    .about-container{
        gap: 2rem;
    }
    .ed-card{
        padding: 2rem;
        font-size: 1rem;
    }
    .ed-card-group{
        gap: .5rem;
    }
    .ed-card-group img{
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        object-fit: cover;
    }
    .ed-card-group img{
        display: none;
    }
}

@media(max-width: 989px){
    header{
        gap: .5rem;
        height: 4rem;
    }
    .links{
        gap: 2rem;
    }
    .visit-btn{
        margin: auto 3rem;
    }
    .container{
        gap: 1rem;
    }
    .about-container{
        gap: .5rem;
    }
    .title{
        font-size: 1.5rem;
    }
    .projects-group{
        grid-template-columns: repeat(2, 1fr);
        gap: .8rem;
    }
    .projects-group .app-card{
        padding: 1rem;
    }
    .app-title{
        font-size: 1rem;
    }
    .app-shot{
        width: 12rem;
        height: 6rem;
        object-fit: cover;
    }
}

@media(max-width: 922px){
    .logo{
        padding: 0.5rem 2rem;
    }
    .visit-btn{
        margin: auto 1rem;
    }
    .about-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .about-container img{
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        border-radius: 50%;
    }
}

@media(max-width: 720px){
    header{
        height: 5vh;
    }
    header #menu-icon{
        display: block;
        position: absolute;
        right: 10%;
        top: 10%;
    }
    .links{
        position: absolute;
        /* top: 100%; */
        /* width: 60vw; */
        /* left: 50%; */
        top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(104, 30, 30);
        padding: 4rem 1rem 0 1rem;
        margin-top: 0;
        left: -100%;
        transition: .3s ease-in-out;
        opacity: 0;
        pointer-events: none;
    }
    .links.active{
        opacity: 1;
        left: 0;
        pointer-events: fill;
    }
    .visit-btn{
        display: none;
    }
    .container{
        gap: 1rem;
    }
    .projects{
        height: 200vh;
    }
    .footer{
        bottom: 9%;
    }
}

@media(max-width: 598px){
    .info-box h1{
        font-size: 3rem;
    }
    section{
        padding: 0;
    }
    .projects{
        height: 200vh;
    }
    .projects-container{
        gap: 1rem;
    }
    .projects-group{
        /* display: flex; */
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .app-card{
        padding: .5rem;
    }
    .ed-card{
        margin: auto .5rem;
        padding: auto 1rem;
        font-size: 1rem;
        text-wrap: wrap;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .duration{
        font-size: 1rem;
    }
}