<section id="projects" class="projects">
  <div class="projects-container container">
    <h2 class="title">Recently created Web-Apps</h2>
    <div class="projects-group">
      @for(pr of projects$ | paginate: { itemsPerPage: 4, currentPage: p };
      track $index) {
      <div class="app-card">
        <img [src]="pr.imgUrl" [alt]="pr.title" class="app-shot" />
        <p class="app-title">{{ pr.title }}</p>
        <div class="btn-group">
          <a [href]="pr.url" target="_blank"><button>Live</button></a>
          <a [href]="pr.sourceCode" target="_blank"><button>Github</button></a>
        </div>
      </div>
      } jksdfhhjsf
      <!-- <div class="app-card">
        <p class="app-title">Stream-Vids</p>
        <img
          src="assets/projects-screenshot/Screenshot (59).png"
          alt="app-1"
          class="app-shot"
        />
        <div class="btn-group">
          <a href="https://arjunsemwal02.github.io/Stream-Vids/" target="_blank"
            ><button>Live</button></a
          >
          <a
            href="https://github.com/ArjunSemwal02/Stream-Vids.git"
            target="_blank"
            ><button>Github</button></a
          >
        </div>
      </div>
      <div class="app-card">
        <p class="app-title">Shopping-Cart</p>
        <img
          src="assets/projects-screenshot/Screenshot (60).png"
          alt="app-1"
          class="app-shot"
        />
        <div class="btn-group">
          <a
            href="https://arjunsemwal02.github.io/Shopping-Cart/"
            target="_blank"
            ><button>Live</button></a
          >
          <a
            href="https://github.com/ArjunSemwal02/Shopping-Cart.git"
            target="_blank"
            ><button>Github</button></a
          >
        </div>
      </div>
      <div class="app-card">
        <p class="app-title">Select-Component</p>
        <img
          src="assets/projects-screenshot/Screenshot (58).png"
          alt="app-1"
          class="app-shot"
        />
        <div class="btn-group">
          <a href="https://select-component-by-aj.netlify.app/" target="_blank"
            ><button>Live</button></a
          >
          <a
            href="https://github.com/ArjunSemwal02/Select-Component.git"
            target="_blank"
            ><button>Github</button></a
          >
        </div>
      </div>
      <div class="app-card">
        <p class="app-title">Bearded-Doodler</p>
        <img
          src="assets/projects-screenshot/Screenshot (44).png"
          alt="app-1"
          class="app-shot"
        />
        <div class="btn-group">
          <a
            href="https://arjunsemwal02.github.io/BeardedDoodler/"
            target="_blank"
            ><button>Live</button></a
          >
          <a
            href="https://github.com/ArjunSemwal02/BeardedDoodler.git"
            target="_blank"
            ><button>Github</button></a
          >
        </div>
      </div>
      <div class="app-card">
        <p class="app-title">Sorted-Table</p>
        <img
          src="assets/projects-screenshot/Screenshot (45).png"
          alt="app-1"
          class="app-shot"
        />
        <div class="btn-group">
          <a
            href="https://arjunsemwal02.github.io/Sorted-Table/"
            target="_blank"
            ><button>Live</button></a
          >
          <a
            href="https://github.com/ArjunSemwal02/Sorted-Table.git"
            target="_blank"
            ><button>Github</button></a
          >
        </div>
      </div>
      <div class="app-card">
        <p class="app-title">Testimonials</p>
        <img
          src="assets/projects-screenshot/Screenshot (31).png"
          alt="app-1"
          class="app-shot"
        />
        <div class="btn-group">
          <a
            href="https://arjunsemwal02.github.io/Testimonials/"
            target="_blank"
            ><button>Live</button></a
          >
          <a
            href="https://github.com/ArjunSemwal02/Testimonials.git"
            target="_blank"
            ><button>Github</button></a
          >
        </div>
      </div> -->
      <!-- <div class="app-card">
                    <p class="app-title">Text Animation</p>
                    <img src="assets/projects-screenshot/Screenshot (32).png" alt="app-2" class="app-shot">
                    <div class="btn-group">
                        <a href="https://arjunsemwal02.github.io/Text-animation/" target="_blank"><button>Live</button></a>
                        <a href="https://github.com/ArjunSemwal02/Text-animation.git" target="_blank"><button>Github</button></a>
                    </div>
                </div>
                <div class="app-card">
                    <p class="app-title">Heart Trail Animation</p>
                    <img src="assets/projects-screenshot/Screenshot (34).png" alt="app-3" class="app-shot">
                    <div class="btn-group">
                        <a href="https://arjunsemwal02.github.io/HeartTrailAnimation/" target="_blank"><button>Live</button></a>
                        <a href="https://github.com/ArjunSemwal02/HeartTrailAnimation.git" target="_blank"><button>Github</button></a>
                    </div>
                </div>
                <div class="app-card">
                    <p class="app-title">Colour-Flipper</p>
                    <img src="assets/projects-screenshot/Screenshot (38).png" alt="app-4" class="app-shot">
                    <div class="btn-group">
                        <a href="https://arjunsemwal02.github.io/Colour-Flipper/" target="_blank"><button>Live</button></a>
                        <a href="https://github.com/ArjunSemwal02/Colour-Flipper.git" target="_blank"><button>Github</button></a>
                    </div>
                </div>
                <div class="app-card">
                    <p class="app-title">The Modal</p>
                    <img src="assets/projects-screenshot/Screenshot (37).png" alt="app-5" class="app-shot">
                    <div class="btn-group">
                        <a href="https://arjunsemwal02.github.io/TheModal/" target="_blank"><button>Live</button></a>
                        <a href="https://github.com/ArjunSemwal02/TheModal.git" target="_blank"><button>Github</button></a>
                    </div>
                </div>
                <div class="app-card">
                    <p class="app-title">Say Hello</p>
                    <img src="assets/projects-screenshot/Screenshot (39).png" alt="app-6" class="app-shot">
                    <div class="btn-group">
                        <a href="https://arjunsemwal02.github.io/sayHello/" target="_blank"><button>Live</button></a>
                        <a href="https://github.com/ArjunSemwal02/sayHello.git" target="_blank"><button>Github</button></a>
                    </div>
                </div> -->
    </div>
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Prev"
      nextLabel="Next"
    >
    </pagination-controls>
  </div>
</section>

<section class="carousel-section">
  <h2 class="title">Recently created Web-Apps</h2>

  <div class="carousel-container">
    <div class="carousel">
      <div
        class="carousel-item"
        *ngFor="let pr of projects$; let i = index"
        [ngClass]="{
          active: i === currentIndex,
          prev:
            i === currentIndex - 1 ||
            (currentIndex === 0 && i === images.length - 1),
          next:
            i === currentIndex + 1 ||
            (currentIndex === images.length - 1 && i === 0)
        }"
      >
        <!-- <img [src]="img" /> -->
        <div class="app-card">
          <img [src]="pr.imgUrl" [alt]="pr.title" class="app-shot" />
          <p class="app-title">{{ pr.title }}</p>
          <div class="btn-group">
            <a [href]="pr.url" target="_blank"><button>Live</button></a>
            <a [href]="pr.sourceCode" target="_blank"
              ><button>Github</button></a
            >
          </div>
        </div>
      </div>
    </div>

    <button class="nav left" (click)="prevSlide()">&#10094;</button>
    <button class="nav right" (click)="nextSlide()">&#10095;</button>
  </div>
</section>
