.projects {
  display: block;
  padding: 20px;
}
.carousel-section {
  display: none;
  margin: auto;
}
.carousel-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel {
  position: relative;
  height: 300px; /* adjust as needed */
}

.carousel-item {
  /* margin: auto 20px; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.4;
  transition: all 0.5s ease;
  z-index: 1;
}

.carousel-item img {
  width: 100%;
  /* border-radius: 10px; */
}

.carousel-item.active {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 1;
  z-index: 3;
}

.carousel-item.prev {
  transform: translate(-150%, -50%) scale(1);
  opacity: 0.8;
  z-index: 2;
}

.carousel-item.next {
  transform: translate(50%, -50%) scale(1);
  opacity: 0.8;
  z-index: 2;
}

.nav {
  border: none;
  border-radius: 0.1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(53, 53, 53, 0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 4;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

@media (max-width: 768px) {
  .projects {
    display: none;
  }
  .carousel-section {
    display: block;
  }
}
@media (min-width: 769px) {
  .carousel-section {
    display: none;
  }
}
